<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WpfStartup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SevenDaysConfigUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SevenDaysConfigUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <WpfStartup.Properties.Settings>
            <setting name="ConfigPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="AdminPath" serializeAs="String">
                <value/>
            </setting>
        </WpfStartup.Properties.Settings>
        <SevenDaysConfigUI.Properties.Settings>
            <setting name="ConfigPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamApiUrl" serializeAs="String">
                <value>http://api.steampowered.com/ISteamUser/GetPlayerSummaries/v0001/?key={0}&amp;steamids={1}&amp;format=json</value>
            </setting>
            <setting name="HideAssignedUsers" serializeAs="String">
                <value>True</value>
            </setting>
        </SevenDaysConfigUI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SevenDaysConfigUI.Properties.Settings>
            <setting name="SteamAPIKey" serializeAs="String">
                <value>2CDE5E31D61ABFAF152CB28F7FFF6F6F</value>
            </setting>
        </SevenDaysConfigUI.Properties.Settings>
    </applicationSettings>
</configuration>
